{% extends 'base.html.twig' %}

{% form_theme formProfil 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <br>

    <h1>Profil de {{ app.user.username }}</h1>

    {{ form_start(formProfil) }}

    {{ form_row(formProfil.username, {'label': 'Nom d\'utilisateur'})  }}
    {{ form_row(formProfil.email, {'label': 'Adresse email'}) }}
    <br>
    <a href="{{ path('security_profil') }}" class="nav-link">
        Sauvegarder
    </a>

    {{ form_start(formProfil) }}

{% endblock %}